.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    padding: 1rem;
}

li {
    cursor: pointer;
    list-style: none;
}

.sidebar--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar--header > button {
    width: 90px;
    height: 20px;
}